* {
    margin:0;
    padding: 0;
    font-family: poppins;
    
}

::-webkit-scrollbar{
    width:10px;
}



header {
    background-color:rgb(33, 33, 33);
    background-position: center center;
    position: relative;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}


.logo img{
    width:160px;
    height:auto;
	 border-radius:50%;
}

.welcome-text{
    position: absolute;
    width:600px;
    height:300px;
    margin-left: 30%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

.welcome-text h1{
    text-align:center;
    color:#fff;
    text-transform: uppercase;
}

  
  #search-input {
    background: none;
    border:#ababab 3px solid;
    border-radius: 30px;
    outline:none;
    color:#fff;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
  }

  #search-input::placeholder {
    color:#d7d7d7;
  }

  #e {
    margin-top: 50px;
  }
